@charset "UTF-8";

@media screen and (max-width: 600px) {

    /* CONFIGURAÇÕES DE ATALHOS */
    :root {
        --font: "Titan One", cursiva;
        --facebook: #1877f2;
        --instagram: #e2306c;
        --messenger: #1877f2;
        --whatsapp: #25d366;
        --discord: #5865f2;
        --twitter: #1d9bf0;
        --telegram: #29a9ea;
    }

    span#burguer {
        display: block;
    }

    menu {
        display: none;
    }

    menu>ul>li {
        display: block;
    }

    main {
        width: 300px;
    }
}