@charset "UTF-8";

/* FONTES DO GOOGLE*/
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

/* CONFIGURAÇÕES DE ATALHOS */
:root {
    --font: "Titan One", cursiva;
    --instagram: #e2306c;
    --whatsapp: #25d366;
    --github: #0d1117;
    --telegram: #29a9ea;
}

/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0px;
    padding: 0px;
}

/* CONFIGURAÇÕES DO CORPO */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee;
    width: 100vw;
    height: 100vh;
}

/* CONFIGURAÇÕES DO CABEÇALHO */
header {
    background-color: #101;
    font-family: var(--font);
    font-size: 3em;
    color: #eee;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* CONFIGURAÇÕES DO MENU DE NAVEGAÇÃO */
span#burguer {
    display: none;
    cursor: pointer;
    background-color: #101;
    color: #eee;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}

span#burguer:hover {
    background-color: #101;
    color: #eee;
}

menu {
    width: 600px;
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding: 1.2px;
}

menu>ul {
    list-style-type: none;
}

menu>ul>li {
    display: inline-block;
}

menu>ul>li>a {
    width: 300px;
    color: #eee;
    border-radius: 3px;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
}

menu>ul>li>a:hover {
    width: 300px;
    background-color: #eee;
    color: #101;
    padding: 1px 10px;
    transition: 0.7s;
    border-radius: 3px;
}

/* CONFIGURAÇÕES DO CONTEÚDO INICIAL */
section {
    width: 800px;
    margin: auto;
}

main {
    color: #eee;
    margin-top: 10px;
    text-align: center;
}

main h1 {
    font-size: 2.2em;
    font-weight: bolder;
    color: #101;
    margin-top: 10px;
    padding: 10px 50px;
    text-align: center;
}

main p {
    font-size: 1.2em;
    color: #101;
    margin: 20px 30px;
    text-indent: 2em;
    text-align: justify;
}

/* CONFIGURAÇÕES DO CONTEÚDO PROJETOS */
picture img{
    width: 300px;
    height: 200px;
}

fieldset {
    margin: 2em;
    padding: 2em;
}

legend {
    font-size: 2em;
    font-weight: bolder;
    text-decoration: underline;
}

/* CONFIGURAÇÕES DO CONTEÚDO CONTATO */
div.perfil img {
    height: 250px;
    width: 250px;
    margin-top: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px #101;
}

div button {
    background-color: #101;
    font-size: 1.5em;
    color: #eee;
    margin-top: 3px;
    padding: 7px;
    width: 270px;
    border-width: 0;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 5px #eee;
    cursor: pointer;
}

button.instagram:hover {
    background-color: var(--instagram);
    transition: 300ms;
    box-shadow: 0 0 10px var(--instagram);
}

button.whatsapp:hover {
    background-color: var(--whatsapp);
    transition: 300ms;
    box-shadow: 0 0 10px var(--whatsapp);
}

button.github:hover {
    background-color: var(--github);
    transition: 300ms;
    box-shadow: 0 0 10px var(--twitter);
}

button.telegram:hover {
    background-color: var(--telegram);
    transition: 300ms;
    box-shadow: 0 0 10px var(--telegram);
}

/* CONFIGURAÇÕES DO RODAPÉ */
footer {
    background-color: #101;
    font-family: var(--font);
    font-size: 0.95em;
    color: #eee;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}